#lightbox {
  display: none;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
}

#lightbox.active {
  display: block;
}

.lightbox {
  &-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ffff;
  }
  &-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    padding: 0 80px;
    & figure {
      margin: 0;
    }
  }
  &__close {
    &-button {
      position: absolute;
      padding: 0;
      margin: 0;
      right: 0;
      top: 0;
      border: none;
      background-color: transparent;
      cursor: pointer;
      & svg {
        height: 40px;
        width: 45px;
        fill: $primary-color1;
      }
    }
  }
  &__block {
    &-slide {
      display: block;
      position: absolute;
      top: 45%;
      transform: translateY(-50%);
      cursor: pointer;
      border: none;
      background-color: transparent;
      & svg {
        height: 60px;
        width: 60px;
        fill: $primary-color1;
      }
      &.prev {
        transform: rotate(90deg);
        left: 0;
      }
      &.next {
        transform: rotate(270deg);
        right: 0;
      }
    }
    &-imgBox {
      height: 830px;
      width: 850px;
    }
    &-img {
      object-fit: cover;
      height: 100%;
      width: 100%;
      border-radius: 5px;
    }
    &-caption {
      margin: 10px 0;
    }
  }
}
