.photographer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
  &__block {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__link {
    text-align: center;
  }
  &__portrait {
    object-fit: cover;
    border-radius: 50%;
    height: 200px;
    width: 200px;
  }
  &__name {
    margin: 10px 0 2px;
  }
  &__location {
    margin: 2px 0;
  }
  & p {
    margin: 2px 0;
  }
}
